/* .logContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 100%;
    max-width: 576px;
    background: white;
    padding: 2pt;
    border-radius: 10px;
} */