.displayNone {
    display: none;
}


/* Main */

.main {
    transition: 0.3s ease;
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
}


/* Sidebar Collapse */

.main-collapse {
    margin-left: 75px;
    width: calc(100% - 75px);
    background: #fff;
}


/* Full Width */

.main-full {
    margin-left: 0;
    width: 100%;
}