<label class="form-label">
  {{ label }}
</label>

<div class="position-relative">

    <input [type]="showPassword && type === 'password' ? 'text' : type" class="form-control pe-5" [placeholder]="placeholder" [formControl]="control">

    <button *ngIf="type === 'password'" type="button" class="btn position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent" (click)="togglePassword()">

    <i
      class="bi"
      [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'">
    </i>

  </button>

</div>

<div class="text-danger mt-1" *ngIf="control?.touched && control?.invalid">

    <small *ngIf="control?.errors?.['required']">
    {{ label }} is required
  </small>

</div>