/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(45deg, #4099ff, #82bcff);
}

.logContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 100%;
    max-width: 576px;
    background: white;
    padding: 2pt;
    border-radius: 10px;
    background: linear-gradient(45deg, #4099ff, #82bcff), ;
}

.img-responsive {
    max-width: 100%;
    width: auto;
    margin: auto;
}

.logo {
    max-height: 70px;
}

.displayNone {
    display: none;
}

.container_fluid.bg {
    background: linear-gradient(45deg, #4099ff, #82bcff);
}

.container_fluid {
    background: #ffff;
}